.chat_box{
	position:fixed;
	bottom:0px;
	right:20px;
	background:white;
	width:250px;
	height:300px;
	border-radius:7px 7px 0px 0px;
}
.chat_head{
	background:#F39C12;
	padding:10px;
	color:white;
	border-radius:7px 7px 0px 0px;
}
.close{
	float:right;
}
.chat_body{
	height:210px;
}
.chat_footer{


}
.message_input{
	border:transparent;
	border-top:2px solid blue;
	height:100%;
	width:100%;
-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}